<div class="loginPage">
    <div class="container loginContainer">
        <div class="row-fluid header">
            <div class="span12">
                <!-- FIXME: unsemantic markup -->
            </div>
        </div>

        <div class="loginForm">
            <div class="row-fluid">
                <div class="span12">
                    <label for="loginField">User name:</label>
                    <input type="text" name="login" id="loginField" placeholder="User name"></input>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <label for="passwordField">Password:</label>
                    <input type="text" name="password" id="passwordField" placeholder="Password"></input>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <button class="loginButton btn btn-primary" id="loginButton">Log me in!</button></input>
                </div>
            </div>
        </div>

    </div>
</div>
