<div base-layout>
    <div class="row-fluid buttonsRow">
        <div class="span4">
            <button class="btn">Select</button>
            <button class="btn">Reload</button>
            <button class="btn">More</button>
        </div>
    </div>
    <div class="row-fluid">
        <table class="table" ng-controller="MailsListController">
            <tr>
                <th>Sender</th>
                <th>Content</th>
                <th>Date</th>
            </tr>
            <tr ng-repeat="thread in threads | orderBy:'-date':reverse ">
                    <td>
                        <span ng-show="thread.name">
                            {{thread.name}} ({{thread.from}})
                        </span>
                        <span ng-hide="thread.name">
                            {{ thread.from }}
                        </span>
                    </td>
                    <td>
                        <a ng-href="#/thread/{{thread.id}}">
                            <b>{{thread.subject}}</b>
                            <!-- FIXME: {{mail.contents | truncate}} -->
                        </a>    
                    </td>
                    <td>
                        {{thread.date|formatDate}}
                    </td>
                </a>
            </tr>
        </table>
    </div> <!-- row-fluid -->
</div>
