<div class="mailboxPage">
    <!-- Static navbar -->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner topbar">
            <div class="container-fluid navbar-header"></div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <a class="brand" href="#">Kite</a>
                    <div class="nav-collapse collapse">
                        <p class="navbar-text pull-right">
                            <a href="#" class="navbar-link">user@example.com</a>
                        </p>
                    </div><!--/.nav-collapse -->
                    <div class="searchBox span5 offset2">
                        <input type="text"></input>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div id="sidebar" class="span3">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list inbox-list" ng-controller="InboxesListController">
                        <li>
                            <button type="button" class="btn btn-primary btn-compose">Compose</button>
                        </li>
                        <li ng-repeat="inbox in inboxes">{{inbox.name}}</li>
                    </ul>
                </div>    
            </div>

            <div class="span9">
                <div class="row-fluid buttonsRow">
                    <div class="span4">
                        <button class="btn">Select</button>
                        <button class="btn">Reload</button>
                        <button class="btn">More</button>
                    </div>
                </div>
                <div class="row-fluid">
                    <table class="table" ng-controller="MailsListController">
                        <tr>
                            <th>Sender</th>
                            <th>Content</th>
                            <th>Date</th>
                        </tr>
                        <tr ng-repeat="mail in mails | orderBy:'-date':reverse ">
                            <td>
                                <span ng-show="mail.name">
                                    {{mail.name}} ({{mail.from}})
                                </span>
                                <span ng-hide="mail.name">
                                    {{ mail.from }}
                                </span>
                            </td>
                            <td><b>{{mail.subject}}</b> {{mail.contents | truncate}}</td>
                            <td>{{mail.date|formatDate}}</td>
                        <tr>
                   </table>
                </div> <!-- row-fluid -->
            </div> <!-- span9 -->
        </div> <!-- row-fluid -->
</div>
