<div base-layout>
    <div class="row-fluid buttonsRow">
        <div class="span4">
            <button class="btn">Select</button>
            <button class="btn">Reload</button>
            <button class="btn">More</button>
        </div>
    </div>
    <div class="row-fluid threadView">
            <!-- FIXME: make a directive of this -->
            <div class="row-fluid subjectLine">
                <h4>{{thread.subject}}</h4>
            </div>

            <div ng-repeat="mail in thread.messages | orderBy:'date'" class="emailsList">
                   <div class="row-fluid">
                        <div class="span4 sender">
                            <span ng-show="mail.from.name">
                                {{mail.from.name}}
                            </span>
                            <span ng-hide="mail.from.name">
                                {{ mail.from.address }}
                            </span>
                        </div>
                        <div class="span2 offset6 date">
                            <div>{{mail.date|formatDate}}</div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <span class="span8 recipients">
                            To:
                            <span ng-repeat="recipient in mail.to">
                                <span ng-if="recipient[0] != ''">
                                    {{ recipient[0] }}
                                </span>
                                <span ng-if="recipient[0] == ''">
                                    {{ recipient[1] }}
                                </span>
                                <span ng-if="!$last">
                                ,
                                </span>
                            </span>
                        </span>
                    </div>
                    <div class="row-fluid">
                        <div class="emailContents">
                            {{mail.contents}}
                        </div>
                    </div>
            </div>
        </table>
    </div> <!-- row-fluid -->
</div>
