<div base-layout>
    <div class="row-fluid buttonsRow">
        <div class="span4">
            <button class="btn">Select</button>
            <button class="btn">Reload</button>
            <button class="btn">More</button>
        </div>
    </div>
    <div class="row-fluid">
            <div ng-repeat="mail in thread | orderBy:'date'">
                    <!-- FIXME: make a directive of this -->
                    <span ng-show="mail.name">
                        {{mail.name}} ({{mail.from}})
                    </span>
                    <span ng-hide="mail.name">
                        {{ mail.from }}
                    </span>
                    <div>{{mail.subject}}</div>
                    <div>{{mail.date|formatDate}}</div>
            </div>
        </table>
    </div> <!-- row-fluid -->
</div>
